@media (max-width:822px){
    .box-ubicacion{
        width: 700px;
        height: 15.625rem;
        padding: 2.5rem 60px;
        margin: .625rem;
        }
        aside{
            width: 360px;
            padding: 6.875rem 6.25rem;
        }

}
