@media (max-width:957px){
    .seccion-vestimenta{
        h2{
            font-size: 40px;
        }
        p{
            font-size: 10px;
}
}
.seccion-gastronomia{
    h2{
        font-size: 40px;
    }
    img{
        width: 300px;
        height: 300px;
    }
    p{
        font-size: 10px;

    }
}
.seccion-arquitectura{
    h2{
        font-size: 40px;
    }
    p{
        font-size: 10px;
    }
}
.seccion-nosotros{
    height: 700px;
}
}